@model BlogEditVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong>Edit</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Edit" method="post" class="">
                <div class="form-group">
                    <label class=" form-control-label">Edit blog title</label>
                    <span class="text-danger d-block" asp-validation-for="BlogTitle"></span>
                    <input asp-for="BlogTitle" type="text" class="form-control  mb-2" maxlength="100">


                    <label class=" form-control-label">Edit blog description</label>
                    <span class="text-danger d-block" asp-validation-for="BlogDescription"></span>
                    <input asp-for="BlogDescription" type="text" class="form-control  mb-2" maxlength="100">


                    <label class=" form-control-label">Edit blog image</label>
                    <span class="text-danger d-block" asp-validation-for="Image"></span>
                    <input asp-for="Image" type="text" class="form-control  mb-2" maxlength="100">

                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a type="reset" asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </a>
            </form>
        </div>
    </div>
</div>


