@model CategoryDetailVM

<div class="container">
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Product count</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Name</td>
                        <td>@Model.ProductCount</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

